# virtualenv -p python3 venv
# source venv/bin/activate
# pip install --upgrade pip
# pip install -r install/requirements.txt

requests[security] == 2.19.1
bs4 == 0.0.1
peewee == 3.6.4
Flask == 0.12.2
Flask-Cors == 3.0.3
